<key>NSLocationWhenInUseUsageDescription</key>
<string>We need your location to provide emergency services</string>
<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
<string>We need your location to provide emergency services</string>
<key>NSLocationAlwaysUsageDescription</key>
<string>We need your location to provide emergency services</string>
